.all-users-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0 3rem;
    margin-right: 3rem;    
}

.all-users-container ui5-title {
    padding-bottom: 1rem;
}

.list-container {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.19);
    height: 74vh;
    overflow-y: auto;
    border-radius: 4px;
}

#edit-dialog .dialog {
    margin: 2rem 2rem 2rem 3rem;
}

#edit-dialog .dialog ui5-label {
    padding-bottom: 0.5rem;
}

#edit-dialog ui5-select {
    width: 23vw;
}

#edit-dialog .dialog-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#edit-dialog ui5-dialog {
    width: 30%;
}

#filter-search-button {
    margin: 0 0.5rem 0 0.5rem;
}

.filter-user-container {
    display: flex;
    justify-content: space-between;
}