.container form {
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 4rem;
}

.submit-btn {
    width: 10rem;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container img {
    margin-left: 200px;
    height: 350px;
    border-radius: 5px;
}

.inner-container span.error {
    font-size: 13px;
    color: #fd6204;
    font-weight: 500;
    margin-bottom: 12px;
    letter-spacing: .2px;
    font-family: "72override",var(--sapFontFamily);
}

.register-input.error ,
.login-input.error {
    box-shadow: 0 0 2px 2px rgb(253 98 3 / 25%);
    border: 1px solid #fd6204;
}

#register-link {
    padding-left: 2px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}